---
import "../styles/global.css";
import Button from "../components/Button.astro";  // ⭐ REQUIRED
---

<main class="home-background">
  <h1 class="artist-name">XXXTentacion</h1>

  <div class="home-buttons">
    <Button href="/about">About</Button>
    <Button href="/news">News</Button>
    <Button href="/playlist">Playlist</Button>
  </div>
</main>
