---
import { getCollection } from "astro:content";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import PostCard from "../components/PostCard.astro";

const posts = await getCollection("blog");
---

<Nav />

<h1 class="news-heading">News / Tour</h1>
<link rel="stylesheet" href="/styles/global.css" />

<section class="grid">
  {posts.map(post => (
    <PostCard
      title={post.data.title}
      image={post.data.image}
      slug={post.slug}
      
    />
  ))}
</section>

<Footer />
