<footer class="site-footer">

  <div class="footer-columns">

    <!-- BROWSE -->
    <div class="footer-col">
      <h4>Browse</h4>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/news">News / Tour</a>
      <a href="/playlist">Playlist</a>
    </div>

    <!-- ABOUT -->
    <div class="footer-col">
      <h4>About</h4>
      <a href="#">Artist Info</a>
      <a href="#">Discography</a>
      <a href="#">Support</a>
      <a href="#">Contact</a>
    </div>

    <!-- LEGAL -->
    <div class="footer-col">
      <h4>Legal</h4>
      <a href="#">Terms & Conditions</a>
      <a href="#">Privacy Policy</a>
    </div>

    <!-- SOCIAL -->
    <div class="footer-col">
      <h4>Follow</h4>
      <a href="#">Instagram</a>
      <a href="#">Twitter</a>
      <a href="#">TikTok</a>
    </div>

    <!-- NEWSLETTER -->
    <div class="footer-col newsletter">
      <h4>Sign up for updates</h4>
      <div class="newsletter-box">
        <input type="email" placeholder="Email address" />
        <button> send </button>
      </div>
    </div>

  </div>

  <div class="footer-big-title">
    xxx<span>tentacion</span>
  </div>

</footer>
