---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

const { title = "My Website" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>

<link rel="stylesheet" href="/styles/global.css" />
  </head>

  <body>
    <Nav />
    <slot />
    <Footer />
  </body>
</html>

/*This code is basically my main page layout. It adds the Nav on top, 
Footer on the bottom, and puts my page content in the middle using 
slot. It also sets the page title and connects the global CSS. So every page 
looks the same and uses the same style. */
