---
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  title: string;
  image?: string;
}

const { title, image } = Astro.props;
---

<BaseLayout title={title}>
  <main class="post-container">

    <h1 class="post-title">{title}</h1>

    {image && (
      <img src={image} alt={title} class="post-image" />
    )}

    <article class="post-body">
      <slot />
    </article>
    
  </main>
</BaseLayout>
