---
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  title: string;
  image?: string;
}

const { title, image } = Astro.props;
---


<BaseLayout title={title}>
  <section class="post-layout">
    <div class="post-container">

      <h1 class="post-title">{title}</h1>

      <article class="post-body">
        <slot />
      </article>

      {image && (
        <img src={image} alt={title} class="post-image" />
      )}

    </div>
  </section>
</BaseLayout>
